* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

h1,
h2,
h3 {
  margin: 0;
}

button{
  border: none;
}

/* start section top */

.top {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 67px;
  max-width: 1776px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  padding-right: 42px;
}

.header__logo {
  padding-right: 304px;
}

.header__link {
  display: flex;
}

.header__link-item {
  padding-right: 32px;
}

.top-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-top: 159px;
  padding-bottom: 27px;
}

.header-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-bottom: 90px;
}

.heading__button {
  text-align: center;
  padding-bottom: 243px;
}

.btn {
  background: #2091f9;
  border-radius: 35px;
  padding: 16px 59.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
}

/* end section top */

/* start section features */

.features {
  padding-top: 126px;
  padding-bottom: 52px;
  text-align: center;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.heading-desc {
  padding-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.features__content {
  padding-top: 97px;
  display: flex;
  padding-right: 466px;
  padding-left: 466px;
}

.features__item:not(:last-child) {
  padding-right: 76px;
}

.features__item-logo {
  padding-bottom: 27px;
}

.features__item-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: 20px;
}

.features__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.features__video {
  padding-top: 132px;
  position: relative;
}

.features__video-btn {
  position: absolute;
  top: calc(50% - 85.4px / 2 - 0.15px);
  left: calc(50% - 190.7px / 2 + 0.33px);
}

/* end section features */

/* start section organize */

.organize {
  display: flex;
  justify-content: space-between;
  padding-top: 241px;
  padding-bottom: 287px;
  padding-left: 267px;
  padding-right: 358px;
}

.align-left {
  text-align: left;
}

.organize_btn {
  margin-top: 70px;
}

/* end section organize */

/* start section subscribe */

.subscribe {
  padding-top: 159px;
  padding-bottom: 90px;
}
.container {
  padding-right: 168.5px;
  padding-left: 168.5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__content {
  padding-left: 123px;
}

.subscribe__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
  margin: 0;
}

.subscribe__text_bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.subscribe__heading_padding {
  padding-top: 17px;
  padding-bottom: 35px;
}

.subscribe__form {
  padding-top: 36px;
}

.subscribe__input {
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 39px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: black;
  margin-right: 13px;
}

/* end section subscribe */

/* start section partners */

.partners {
  padding-top: 130px;
  padding-bottom: 80px;
}

.partners__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 186px;
  padding-left: 186px;
  padding-top: 90px;
  padding-bottom: 80px;
}

.partners__content-item {
  border: 1px solid #d8d8d8;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.partners__content-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}

.partners__btn {
  text-align: center;
}

/* end section partners */

/* start section testimonials */

.testimonials {
  padding-top: 111px;
  padding-bottom: 100px;
}

.testimonials__logo {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 60px;
}

.testimonials__designer {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding-top: 63px;
  padding-bottom: 110px;
}

.testimonials__designer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}

.designer-text_bold {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.testimonials__btn {
  text-align: center;
}

/* end section testimonials */

/* start section pricing */

.pricing {
  padding-top: 110px;
  padding-bottom: 100px;
  background: #252b42;
}

.heading-color {
  color: #ffffff;
}

.pricing__card {
  display: flex;
  flex-wrap: wrap;
  padding-right: 336px;
  padding-left: 336px;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.pricing__card-item {
  background: #ffffff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 43px 40px 40px 40px;
  text-align: center;
}

.pricing__card-level {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.pricing__card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #374754;
}

.pricing__card-cost {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.pricing__card-description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cost-flex {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cost-symbol {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.cost-margin {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}

.pricing__card-item_blue {
  padding-top: 86px;
  padding-bottom: 83px;
  background: #2091f9;
}

.pricing__card-level_white {
  color: #ffffff;
}

.pricing__card-text_white {
  color: #ffffff;
}

.pricing__card-cost_white {
  color: #ffffff;
}

.cost-symbol_white {
  color: #ffffff;
}

.cost-margin_white {
  color: #ffffff;
}

.pricing__card-description_white {
  color: #ffffff;
}

.btn_white {
  color: #2091f9;
  background: #fff;
  }

/* end section pricing */
