* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

h1,
h2,
h3 {
  margin: 0;
}

/* start section top */

.top {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 67px;
  max-width: 1776px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  padding-right: 42px;
}

.header__logo {
  padding-right: 304px;
}

.header__link {
  display: flex;
}

.header__link-item {
  padding-right: 32px;
}

.top-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-top: 159px;
  padding-bottom: 27px;
}

.header-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-bottom: 90px;
}

.heading__button {
  text-align: center;
  padding-bottom: 243px;
}

.btn {
  background: #2091f9;
  border-radius: 35px;
  width: 236px;
  height: 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
}

/* end section top */

/* start section Features */

.features {
  padding-top: 126px;
  padding-bottom: 52px;
  text-align: center;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.heading-desc {
  padding-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.features__content {
  padding-top: 97px;
  display: flex;
  padding-right: 466px;
  padding-left: 466px;
}

.features__item:not(:last-child) {
  padding-right: 76px;
}

.features__item-logo {
  padding-bottom: 27px;
}

.features__item-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: 20px;
}

.features__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.features__video {
  padding-top: 132px;
  position: relative;
}

.features__video-btn{
  position: absolute;
  top: calc(50% - 85.4px/2 - 0.15px);
  left: calc(50% - 190.7px/2 + 0.33px);
}

/* end section Features */
